.search-box {
  padding: 12px;
  width: 300px;
  margin: 20px;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

.card img {
  width: 80px;
  height: 50px;
}

.danger {
  color: red;
}

.safe {
  color: green;
}